h1{
    text-align: center;
}

legend{
    text-align: center;
}

.pure-form{
   text-align: center;
   padding: 10px; 
}

legend{
    font-size: 20px;
}

.style-checkbox{
    word-spacing: 20px;
    border: 2px solid black;
    padding: 14px;
}







